<main class="container content-principal">
  <div class="process-cafe">
    <div class="imagen">
      <img src="../../../../assets/img/proceso_1.jpg" alt="imagen process">
    </div>

    <div class="text">
      <h3>Granos de Café</h3>
      <p>Los granos de café son el punto de partida del expresso, el ristretto, el cortado, el americano, el café con
        leche, el capuchino, moca, el frapé, el café irlandés y cualquier otro tipo de café en el que puedas pensar.</p>
    </div>
  </div>

  <div class="process-cafe">
    <div class="imagen">
      <img src="../../../../assets/img/proceso_2.jpg" alt="imagen process">
    </div>

    <div class="text">
      <h3>Tostar el café</h3>
      <p>Existe más de una forma de tostar el café. Dependiendo de qué tan tostados los hagamos, los granos mostrarán
        una coloración y un sabor distintos. Los tipos de tueste del café sirven para preparar diferentes versiones de
        esta bebida y, a su vez, sirven para resaltar características particulares de cada grano.</p>
    </div>
  </div>

  <div class="process-cafe">
    <div class="imagen">
      <img src="../../../../assets/img/proceso_3.jpg" alt="imagen process">
    </div>

    <div class="text">
      <h3>Empacar el Café</h3>
      <p>El empaque del café es casi tan importante como todo el proceso por el que pasa el grano antes de llegar ahí.
        Es lo que puede hacer la diferencia entre un aroma mediocre o más bien hacer que sus características se
        mantengan intactas.</p>
    </div>
  </div>

  <div class="process-cafe">
    <div class="imagen">
      <img src="../../../../assets/img/proceso_4.jpg" alt="imagen process">
    </div>

    <div class="text">
      <h3>Moler granos de café</h3>
      <p>El café molido se pone rancio mucho más rápido que los granos enteros. Por esta razón, debes comprar café en
        grano y molerlo tu mismo en casa justo antes de preparar tu taza de café. Mantén los granos almacenados en un
        recipiente hermético para obtener los mejores resultados.</p>
    </div>
  </div>

  <div class="process-cafe">
    <div class="imagen">
      <img src="../../../../assets/img/proceso_5.jpg" alt="imagen process">
    </div>

    <div class="text">
      <h3>Disfrutar una taza</h3>
      <p>Preparar un café puede ser un momento para disfrutar en sí mismo, pero para crear una experiencia de café en
        casa, necesitará tu café favorito y el equipo necesario, como una máquina de café o una prensa de café, e
        incluso un molinillo, si lo deseas.</p>
    </div>
  </div>
</main>