<header class="header header-inicio">
  <div class="content-header container">
    <div class="barra">
      <div class="logo">
        <img src="../../../assets/img/logo.svg" alt="logo cafeteria">
      </div>

      <nav class="nav-principal">
        <a routerLink="home" routerLinkActive="active">Inicio</a>
        <a routerLink="aboutus">Nosotros</a>
        <a routerLink="process">Proceso</a>
        <a routerLink="menu">Menú</a>
        <a routerLink="gallery">Galería</a>
        <a routerLink="contact">Contacto</a>
      </nav>
    </div>

    <div class="text-header">
      <h1>Disfruta una deliciosa taza de café</h1>
    </div>
  </div>
</header>