<main class="container content-principal">
  <h2><span>Vive la</span> experiencia </h2>

  <div class="gallery">
    <div class="imagen">
      <img src="../../../../assets/img/gallery/gallery_01.jpg" alt="gallery">
    </div>
    <div class="imagen">
      <img src="../../../../assets/img/gallery/gallery_02.jpg" alt="gallery">
    </div>
    <div class="imagen">
      <img src="../../../../assets/img/gallery/gallery_03.jpg" alt="gallery">
    </div>
    <div class="imagen">
      <img src="../../../../assets/img/gallery/gallery_04.jpg" alt="gallery">
    </div>
    <div class="imagen">
      <img src="../../../../assets/img/gallery/gallery_05.jpg" alt="gallery">
    </div>
    <div class="imagen">
      <img src="../../../../assets/img/gallery/gallery_06.jpg" alt="gallery">
    </div>
    <div class="imagen">
      <img src="../../../../assets/img/gallery/gallery_07.jpg" alt="gallery">
    </div>
    <div class="imagen">
      <img src="../../../../assets/img/gallery/gallery_08.jpg" alt="gallery">
    </div>
    <div class="imagen">
      <img src="../../../../assets/img/gallery/gallery_09.jpg" alt="gallery">
    </div>
    <div class="imagen">
      <img src="../../../../assets/img/gallery/gallery_10.jpg" alt="gallery">
    </div>
  </div>
</main>