<main class="container content-principal padding-bottom-0">
  <h2><span>Utilizamos los</span>mejores ingredientes</h2>

  <div class="content-menu">
    <div class="text">
      <p> Nuestro Cafe está hecho a base del grano Jamaican Blue Mountain y el Kopi Luwak, un tipo que no todos los
        clientes están dispuestos a ingerir. Pero el resultado es nada menos que el sofisticado Café de la Cafeteria,
        considerado el más caro del mundo.Los granos Kopi Luwak proceden de la lejana Indonesia.</p>
    </div>
  </div>
</main>

<section class="nuestro-menu">
  <h2 class="heading-blanco"><span>Nuestro delicioso</span>Menú</h2>

  <div class="container grid-menu">
    <section class="menu cafe">
      <h3>Café</h3>
      <ul>
        <li>
          <p>Café Latte <span>Café Espresso con leche caliente evaporada</span> </p>
          <p class="price">€3</p>
        </li>
        <li>
          <p>Café Mocha <span>Espresso con crema batida</span> </p>
          <p class="price">€3</p>
        </li>
        <li>
          <p>Café Americano <span>Café Negro</span> </p>
          <p class="price">€2</p>
        </li>
        <li>
          <p>Capuccino<span>Espresso con una capa suave de espuma</span> </p>
          <p class="price">€2.5</p>
        </li>
        <li>
          <p>Café Mocha Frio<span>Espresso, dulce con mocha y leche.</span> </p>
          <p class="price">€3.5</p>
        </li>
        <li>
          <p>Mocha Frio Quemado<span>Espresso, hielo, con azucar quemada y mantequilla.</span> </p>
          <p class="price">€3</p>
        </li>
        <li>
          <p>Latte con Caramelo<span>Espresso, leche y caramelo.</span> </p>
          <p class="price">€4</p>
        </li>
      </ul>

    </section>

    <section class="menu comida">
      <h3>Comida</h3>

      <ul>
        <li>
          <p>Baguette de Pollo <span>Delicioso Baguette con pollo a la plancha</span> </p>
          <p class="price">€8</p>
        </li>
        <li>
          <p>Baguette Pollo y Queso <span>Baguette combinado con Pollo y Queso Manchego</span> </p>
          <p class="price">€9</p>
        </li>
        <li>
          <p>Baguette con Tocino<span>Baguette con especias y verduras, además de tocino</span> </p>
          <p class="price">€11</p>
        </li>
        <li>
          <p>Baguette de Jamón<span>Delicioso Baguette con Jamón y Especias</span> </p>
          <p class="price">€10</p>
        </li>
        <li>
          <p>Baguette con Jamón, Queso y Tocino<span>El especial de la casa</span> </p>
          <p class="price">€10</p>
        </li>
        <li>
          <p>Sandwich de Pollo<span>Delicioso sandwich con Pollo y especies</span> </p>
          <p class="price">€9</p>
        </li>
        <li>
          <p>Sandwich de Jamón y queso<span>Queso Amarillo con Jamón y Queso</span> </p>
          <p class="price">€6</p>
        </li>
      </ul>
    </section>
  </div>
</section>