<main class="container content-principal">
  <h2><span>Conoce más</span> sobre nosotros</h2>

  <div class="content-nosotros">
    <div class="imagen">
      <picture>
        <img src="../../../../assets/img/nosotros_sidebar.jpg" lazyalt="imagen" width="500" height="300">
      </picture>
    </div>

    <div class="text">
      <p>El amor por el café del propietario Andrew Rojas comenzó donde comienza para la mayoría de nosotros: como
        cliente, bebedor de café y entusiasta. Más tarde se convirtió en barista, llevando su pasión por guiar a otros
        en sus viajes por el café un paso más allá.</p>

      <blockquote>Excelente Sabor!</blockquote>

      <p>Con esta pasión floreciente, nació una visión para Andrew: crear un espacio donde la comunidad de amantes del
        café en San Antonio de los altos pudiera alimentar su pasión y encontrar una comunidad.</p>
    </div>
  </div>
</main>