<footer class="footer">
  <div class="container content-footer bg-white">
    <div class="footer-box ubicacion">
      <h3>Ubicación</h3>
      <p>Av. Rakata 305</p>
      <p>San Antonio de los altos, Venezuela</p>
    </div>
    <div class="footer-box reservacion">
      <h3>Reservación</h3>
      <p>Tel. 372-9102</p>
      <a href="tel:+3729102">Llamar</a>
    </div>
    <div class="footer-box horario">
      <h3>Horario</h3>
      <p>Lun-Jue: 11:00 - 22:00</p>
      <p>Vie-Sab: 09:00 - 24:00</p>
      <p>Domingo: Cerrado</p>
    </div>
  </div>
  <p class="copyright"> Diseño y desarrollado en DrewHouse - Todos los derechos reservados. La Cafetería</p>
</footer>