<main class="container content-principal text-center">
  <section class="conoce">
    <h2><span>Conoce más</span> sobre nosotros </h2>

    <p>Un lugar agradable en donde podrá disfrutar el mejor Café…</p>
    <p>
      Cafeteria donde su especialidad es cuidar todos los detalles, tanto de producto, de atención y de diseño. Tenemos
      proveedores top para cada item que se ofrece en el menú, contamos con los mejores tostadores de café de
      especialidad que van rotando, muy buen pan de masa madre, dulces espectaculares, y unos desayunos que no te
      dejaran indiferente.
    </p>
  </section>

  <section class="icons">
    <ul class="list-icons">
      <li>
        <img src="../../../../assets/img/icono_cafe.svg" alt="icono café">
        <p>Café</p>
      </li>

      <li>
        <img src="../../../../assets/img/icono_postre.svg" alt="icono café">
        <p>Postres</p>
      </li>

      <li>
        <img src="../../../../assets/img/icono_te.svg" alt="icono café">
        <p>Té</p>
      </li>
    </ul>
  </section>

  <section class="experience">
    <h2><span>Vive la</span> experiencia </h2>

    <div class="gallery">
      <div class="imagen">
        <img src="../../../../assets/img/gallery/gallery_01.jpg" alt="gallery">
      </div>
      <div class="imagen">
        <img src="../../../../assets/img/gallery/gallery_02.jpg" alt="gallery">
      </div>
      <div class="imagen">
        <img src="../../../../assets/img/gallery/gallery_03.jpg" alt="gallery">
      </div>
      <div class="imagen">
        <img src="../../../../assets/img/gallery/gallery_04.jpg" alt="gallery">
      </div>
      <div class="imagen">
        <img src="../../../../assets/img/gallery/gallery_05.jpg" alt="gallery">
      </div>
      <div class="imagen">
        <img src="../../../../assets/img/gallery/gallery_06.jpg" alt="gallery">
      </div>
      <div class="imagen">
        <img src="../../../../assets/img/gallery/gallery_07.jpg" alt="gallery">
      </div>
      <div class="imagen">
        <img src="../../../../assets/img/gallery/gallery_08.jpg" alt="gallery">
      </div>
      <div class="imagen">
        <img src="../../../../assets/img/gallery/gallery_09.jpg" alt="gallery">
      </div>
      <div class="imagen">
        <img src="../../../../assets/img/gallery/gallery_10.jpg" alt="gallery">
      </div>

    </div>
  </section>

</main>

<section class="nuestro-menu">
  <h2 class="heading-blanco"><span>Nuestro delicioso</span>Menú</h2>

  <div class="container grid-menu">
    <section class="menu cafe">
      <h3>Café</h3>
      <ul>
        <li>
          <p>Café Latte <span>Café Espresso con leche caliente evaporada</span> </p>
          <p class="price">€3</p>
        </li>
        <li>
          <p>Café Mocha <span>Espresso con crema batida</span> </p>
          <p class="price">€3</p>
        </li>
        <li>
          <p>Café Americano <span>Café Negro</span> </p>
          <p class="price">€2</p>
        </li>
        <li>
          <p>Capuccino<span>Espresso con una capa suave de espuma</span> </p>
          <p class="price">€2.5</p>
        </li>
        <li>
          <p>Café Mocha Frio<span>Espresso, dulce con mocha y leche.</span> </p>
          <p class="price">€3.5</p>
        </li>
        <li>
          <p>Mocha Frio Quemado<span>Espresso, hielo, con azucar quemada y mantequilla.</span> </p>
          <p class="price">€3</p>
        </li>
        <li>
          <p>Latte con Caramelo<span>Espresso, leche y caramelo.</span> </p>
          <p class="price">€4</p>
        </li>
      </ul>

    </section>

    <section class="menu comida">
      <h3>Comida</h3>

      <ul>
        <li>
          <p>Baguette de Pollo <span>Delicioso Baguette con pollo a la plancha</span> </p>
          <p class="price">€8</p>
        </li>
        <li>
          <p>Baguette Pollo y Queso <span>Baguette combinado con Pollo y Queso Manchego</span> </p>
          <p class="price">€9</p>
        </li>
        <li>
          <p>Baguette con Tocino<span>Baguette con especias y verduras, además de tocino</span> </p>
          <p class="price">€11</p>
        </li>
        <li>
          <p>Baguette de Jamón<span>Delicioso Baguette con Jamón y Especias</span> </p>
          <p class="price">€10</p>
        </li>
        <li>
          <p>Baguette con Jamón, Queso y Tocino<span>El especial de la casa</span> </p>
          <p class="price">€10</p>
        </li>
        <li>
          <p>Sandwich de Pollo<span>Delicioso sandwich con Pollo y especies</span> </p>
          <p class="price">€9</p>
        </li>
        <li>
          <p>Sandwich de Jamón y queso<span>Queso Amarillo con Jamón y Queso</span> </p>
          <p class="price">€6</p>
        </li>
      </ul>
    </section>
  </div>
</section>

<section class="nuestros-testimoniales container bg-white margin-negativo-10">
  <h2><span>Lo que dicen nuestros</span>Clientes</h2>

  <div class="testimonial">
    <p>Excelente trato, buen ambiente, dueño mejor no lo he encontrado nunca, educado, amable, respetuoso y no cambio
      este bar de barrio por nada. Gracias por estar aquí siempre.</p>

    <p class="autor">- Juan De la torre</p>
  </div>

</section>