@import '../../../../assets/scss/base/variables';
@import '../../../../assets/scss/base/mixins';




/* CONTENIDO */

.content-principal {
  background-color: $blanco;
  padding: 5rem 2rem;

  @include tablet { 
      padding: 10rem;
      margin-top: -10rem;
      position: relative;
  }

}

/* IMAGENES */

.gallery {
  @include grid(2, 2rem);

  @include desktop { 
      @include grid(4, 2rem);
  }

  .imagen {

      img {
          height: 30rem;
          width: 30rem;
          object-fit: cover;
      }

      @include desktop { 
          &:nth-child(1) {
              grid-row: 1 / 3;
              img {
                  height: 62rem;
                  object-position: center;
              }
          }
          &:nth-child(2) {
              grid-column: 2 / 4;
              img {
                  width: 62rem;
              }
          }
          &:nth-child(4) {
              grid-row: 2 / 4;
              img {
                  height: 62rem;
              }
          }
          &:nth-child(5) {
              grid-column: 3 / 5;
              img {
                  width: 62rem;
              }
          }
          &:nth-child(6) {
              grid-column: 3 / 5;
              img {
                  width: 62rem;
              }
          }
          &:nth-child(7) {
              grid-row: 3 / 5;
              img {
                  height: 62rem;
              }
          }
          &:nth-child(8) {
              grid-column: 2 / 5;
              img {
                  width: 94rem;
              }
          }
          &:nth-child(9) {
              grid-column: 1 / 3;
              img {
                  width: 62rem;
              }
          }
          &:nth-child(10) {
              grid-column: 3 / 5;
              img {
                  width: 62rem;
              }
          }
      }
  }
}

/* MENU */


.nuestro-menu {
  background-image: url(../../../../assets/img/menu_arriba.svg), url(../../../../assets/img/menu_abajo.svg), linear-gradient(to top, $primario, $primario);
  background-repeat: no-repeat;
  background-position: center 5rem, center 92%, 100%;
  background-size: 200%;
  padding: 15rem 2rem 20rem 2rem;

  @include tablet {
      padding: 15rem 0 20rem 0;
      background-size: 100%;
  }
  @include desktop {
      background-size: 50%, 50%, 100%;
  }

}
.grid-menu {
  @include tablet { 
      @include grid(2, 2rem);
  }
}

.menu {
  h3 {
      color: $blanco;
  }
  li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
          color: $blanco;
          font-size: 2.2rem;
          line-height: 1.5;
          margin: 0 0 2rem 0;

          span {
              display: block;
              color: $secundario;
          }
      }
      .price {
          font-size: 4rem;
          font-weight: 700;
      }
  }
}

/* TESTIMONIALES */

.nuestros-testimoniales {
  padding: 10rem 2rem;

  @include tablet { 
      padding: 10rem;
  }

  .testimonial {
      background-color: $cafeClaro;
      padding: 2rem 4rem;
      max-width: 50rem;
      margin: 0 auto;
      border-radius: 1rem;

      .autor {
          text-align: right;
          font-size: 2.4rem;
          color: $primario;
          font-family: $fuenteCursiva;
      }
  }
}


/* ICONOS */
.icons {
  margin-top: 5rem;
  .list-icons {
      @include tablet { 
          @include grid(3, 2rem);
      }

      li {
          img {
              margin: 0 auto;
              width: 12rem;
          }
          p {
              font-family: $fuenteCursiva;
              font-size: 3.2rem;
              color: $primario;
          }
      }
      
  }
}

.header {
    padding: 5rem 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    @include tablet { 
        min-height: 70rem;
    }
  
    &::before {
        content: '';
        background-color: $negro;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .6;
    }
  
    .content-header {
       position: relative;
  
       h1 {
           text-align: center;
           color: $blanco;
           text-transform: uppercase;
           margin-top: 5rem;
           @include tablet { 
               margin-top: 10rem;
           }
       }
    }
  
  }
  
  
  // Header de cada página
  .header-menu {
    background-image: url(../../../../assets/img/header_menu.jpg);
  }
